<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>CS Resource Finder Resource Details</title>

<!-- Bootstrap -->
<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="css/stars.css" rel="stylesheet">
<!-- <link href="../css/app.css" rel="stylesheet" >
<link href="../css/fonts/font-awesome.min.css" rel="stylesheet" > -->


</head>
<body>
	<nav class="navbar navbar-default" ng-controller="SearchController">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">CS Resource Finder</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/home.html">Home <span
							class="glyphicon glyphicon-home" aria-hidden="true"></span><span
							class="sr-only">(current)</span></a></li>
					
				</ul>
				<form class="navbar-form navbar-left">
					
					Search options:
					<label for="tagSelect">Tag:</label>
					
					<select  id="tagSelect" ng-model="selectedTag" ng-change="checkSearchMode()">
					    <option ng-repeat="tag in tags" value="{{tag}}">{{tag}}</option>
  					</select>
  						
  						<label for="searchPri">Search Mode:</label>
					
					<!-- Disable the search mode if no tag selected -->
					<select  id="searchPri" ng-model="selectedSearchPriority" ng-disabled="selectedTag==null || selectedTag==''">
					    <option ng-repeat="pri in searchPriorityOptions" value="{{pri.value}}">{{pri.name}}</option>
					   
  						</select>
					<div class="form-group">
						<input type="text" class="form-control"
							placeholder="Search keyword" ng-model="searchKeyword" maxlength="60">
					</div>
					<button type="button" class="btn btn-default"
						aria-label="Left Align" ng-click="search()">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>

				</form>
				<form class="navbar-form navbar-right">
					<button type="submit" class="btn btn-danger" ng-click="logout()">Logout</button>

				</form>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>


	<div class="container" ng-controller="ResourceController">



		<h2>
			<a ng-href="{{resourceData.url}}" target="_blank">{{resourceData.name}}</a>
		</h2>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#overview"
				aria-controls="home" role="tab" data-toggle="tab">Overview</a></li>
			<li role="presentation"><a href="#reviews"
				aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
			<li role="presentation"><a href="#questions"
				aria-controls="questions" role="tab" data-toggle="tab">Questions</a></li>

		</ul>


		<!-- Tab panes -->
		<div class="tab-content">
			<!-- Overview -->
			<div role="tabpanel" class="tab-pane active" id="overview">

				<h3>
					Average Rating: {{resourceData.rating}}/5
					<!-- <span class="glyphicon glyphicon-star"
						aria-hidden="true"></span><span class="glyphicon glyphicon-star"
						aria-hidden="true"></span><span class="glyphicon glyphicon-star"
						aria-hidden="true"></span><span class="glyphicon glyphicon-star"
						aria-hidden="true"></span><span class="glyphicon glyphicon-star"
						aria-hidden="true"></span> -->&nbsp;Number of Ratings: {{resourceData.numRatings}}
				</h3>

				<h3 ng-if="resourceData.userRating">Your rating: {{resourceData.userRating}}</h3>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h2 class="panel-title">Tags</h2>
					</div>
					<div class="panel-body">
						<p>
						
							<span class="badge" ng-repeat-start="tag in resourceData.tags">{{tag.count}}</span><span
								class="label label-info" >{{tag.name}}</span><span ng-repeat-end>&nbsp; </span>
						
								
						</p>


					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h2 class="panel-title">Description</h2>
					</div>
					<div class="panel-body">{{resourceData.description}}</div>
				</div>

			</div>
			<!-- Reviews -->
			<div role="tabpanel" class="tab-pane" id="reviews">

				<br />

				<button type="button" class="btn btn-success btn-lg"
					ng-click="openAddReviewModal()" ng-disabled="resourceData.userRating!=null || reviewSubmitted">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Add Review and Rating
				</button>


				<br /> <br />

				<!-- The review comments -->
				<div class="panel panel-primary" ng-repeat="review in resourceData.reviews">
					<div class="panel-heading">
						<h2 class="panel-title">
							{{review.username}}&nbsp;<span class="label label-info">{{review.date}}</span>
						</h2>
					</div>
					<div class="panel-body">
						<span class="glyphicon glyphicon-star" aria-hidden="true" ng-if="review.rating>=1"></span><span
							class="glyphicon glyphicon-star" aria-hidden="true"  ng-if="review.rating>=2"></span><span
							class="glyphicon glyphicon-star" aria-hidden="true"  ng-if="review.rating>=3"></span><span
							class="glyphicon glyphicon-star" aria-hidden="true"  ng-if="review.rating>=4"></span><span
							class="glyphicon glyphicon-star" aria-hidden="true"  ng-if="review.rating==5"></span> <br />
						{{review.comment}} <br />
						<button type="button" ng-disabled="!haveUserLikes || review.requestInProgress==true" ng-class="toggleLikeButtonClass(review)" ng-click="likeContent(review,'review')">
							<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
							{{review.likes}}
						</button>
					</div>
				</div>

			</div>

			<!-- The questions -->
			<div role="tabpanel" class="tab-pane" id="questions">

				<br />

				<button type="button" class="btn btn-success btn-lg"
					ng-click="openAddQuestionModal()">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Submit Question
				</button>

				<br /><br />

				<div class="panel panel-primary" ng-repeat="question in resourceData.questions">
					<div class="panel-heading">
						<h2 class="panel-title">
							{{question.username}}&nbsp;<span class="label label-info">{{question.date}}</span>
						</h2>
					</div>
					<div class="panel-body">

						{{question.comment}} <br />
						<button type="button" ng-disabled="!haveUserLikes || question.requestInProgress==true" ng-class="toggleLikeButtonClass(question)" ng-click="likeContent(question,'question')">
							<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
							{{question.likes}}
						</button>
						&nbsp; <a ng-click="openViewRepliesModal(question)" ng-if="question.replies.length!=0">View {{question.replies.length}} replies</a>
							<a ng-click="openViewRepliesModal(question)" ng-if="question.replies.length==0">reply</a>
					</div>
				</div>

			</div>
		</div>



	</div>
	<!-- /container -->
	
				<!-- Add Review Modal -->
			<script type="text/ng-template" id="addReviewModal.html">
							<div class="modal-header">
								<button type="button" class="close" ng-click="cancel()"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">Review and Rating</h4>
							</div>
							<div class="modal-body">

								<!-- The rating stars (1-5) -->

								<label for="rateStars">*Choose Rating:</label> 

								<span id="rateStars" uib-rating ng-model="review.rating" max="maxRating" on-hover="hoveringOverRating(value)" on-leave="overStar = null" titles="['one','two','three','four','five']" aria-labelledby="default-rating"></span>


								 <br /> <label for="reviewtagSelect">Choose
									existing tag or enter new tag:</label>

								<select  id="reviewtagSelect" ng-model="existingTag" ng-disabled="newTag!=null && newTag!=''">
					    			<option ng-repeat="tag in tags" value="{{tag}}">{{tag}}</option>
  								</select>

								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">New
										Tag</span> <input type="text" class="form-control"
										placeholder="enter a new tag"
										aria-describedby="basic-addon1" ng-model="newTag" maxlength="20" ng-disabled="existingTag!=null && existingTag!=''" />

								</div>

								<br /> <br />
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">Review</span>
									<textarea class="form-control"
										placeholder="enter a review comment"
										aria-describedby="basic-addon1" maxlength="1000" ng-model="review.comment"></textarea>
									
								</div>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-warning"
									ng-click="cancel()">Cancel</button>
								<button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="review.rating==null">Save</button>
							</div>
			</script>
			<!-- End Add Review Modal -->
			
					<!-- Add Question Modal -->
			<script type="text/ng-template" id="addQuestionModal.html">
							<div class="modal-header">
								<button type="button" class="close" ng-click="cancel()"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">Submit Question</h4>
							</div>
							<div class="modal-body">


								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">Question</span> <input type="text" class="form-control"
										placeholder="enter a question"
										aria-describedby="basic-addon1" ng-model="question" maxlength="1000" />

								</div>


							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-warning"
									ng-click="cancel()">Cancel</button>
								<button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="question==null">Save</button>
							</div>
			</script>
			<!-- End Add Question Modal -->
			
			<!-- View Replies Modal -->
			<script type="text/ng-template" id="viewRpliesModal.html">
							<div class="modal-header">
								<button type="button" class="close" ng-click="close()"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">{{question.comment}}</h4>
							</div>

							<div class="modal-body">

								<!-- The replies -->

								<div class="panel panel-primary" ng-repeat="reply in question.replies">
									<div class="panel-heading">
										<h2 class="panel-title">
											{{reply.username}}&nbsp;<span class="label label-info">{{reply.date}}</span>&nbsp;<span class="label label-success" ng-if="reply.accepted">Accepted answer&nbsp;<span class="glyphicon glyphicon-ok"
												aria-hidden="true"></span></span>
										</h2>
									</div>
									<div class="panel-body">

										{{reply.comment}}
									
										<br />
										<button type="button" ng-click="likeReply(reply)" ng-disabled="!haveUserLikes || reply.requestInProgress==true" ng-class="toggleLikeButtonClass(reply)">
											<span class="glyphicon glyphicon-thumbs-up"
												aria-hidden="true"></span> {{reply.likes}}
										</button>
										&nbsp;
										<button type="button" title="{{!reply.accepted ? 'accept answer' : 'un-accept answer'}}" ng-click="toggleAcceptance(reply)" ng-if="question.username==user" ng-disabled="reply.requestInProgress==true" ng-class="toggleAcceptButtonClass(reply)">
											<span class="glyphicon glyphicon-ok"
												aria-hidden="true"></span>
										</button>

									</div>
								</div>


								<br /> <br />
								<!-- text area for inputting a reply -->
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">Reply</span>
									<textarea class="form-control" placeholder="enter a reply"
										aria-describedby="basic-addon1" ng-model="reply" maxlength="1000"></textarea>

								</div>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-warning"
									 ng-click="close()">Close</button>
								<button type="button" class="btn btn-primary" ng-click="submitReply()" ng-disabled="reply==null">Save</button>
							</div>
					
				</script>
			


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery/jquery-3.5.1.slim.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/angular/angular.min.js"></script>
	<script src="js/angular/angular-animate.js"></script>
	<script src="js/ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
	
  	<script src="js/resourceDetails.js"></script>
</body>
</html>