<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>CS Resource Finder Resource Details</title>

<!-- Bootstrap -->
<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="css/stars.css" rel="stylesheet">
<!-- <link href="../css/app.css" rel="stylesheet" >
<link href="../css/fonts/font-awesome.min.css" rel="stylesheet" > -->


</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">CS Resource Finder</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/home.html">Home <span
							class="glyphicon glyphicon-home" aria-hidden="true"></span><span
							class="sr-only">(current)</span></a></li>
					<li><a href="#">Search options:</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Tags <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Search Priority <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">highest tag frequency</a></li>
							<li><a href="#">rating</a></li>

						</ul></li>
				</ul>
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control"
							placeholder="Search keyword">
					</div>
					<button type="button" class="btn btn-default"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>

				</form>
				<form class="navbar-form navbar-right">
					<button type="submit" class="btn btn-danger">Logout</button>

				</form>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>


	<div class="container" ng-controller="ResourceController">



		<h2>
			<a ng-href="{{resourceData.url}}" target="_blank">{{resourceData.name}}</a>
		</h2>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#overview"
				aria-controls="home" role="tab" data-toggle="tab">Overview</a></li>
			<li role="presentation"><a href="#reviews"
				aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
			<li role="presentation"><a href="#questions"
				aria-controls="questions" role="tab" data-toggle="tab">Questions</a></li>

		</ul>


		<!-- Tab panes -->
		<div class="tab-content">
			<!-- Overview -->
			<div role="tabpanel" class="tab-pane active" id="overview">

				<h3>
					Average Rating: {{resourceData.rating}}/5
					<!-- <span class="glyphicon glyphicon-star"
						aria-hidden="true"></span><span class="glyphicon glyphicon-star"
						aria-hidden="true"></span><span class="glyphicon glyphicon-star"
						aria-hidden="true"></span><span class="glyphicon glyphicon-star"
						aria-hidden="true"></span><span class="glyphicon glyphicon-star"
						aria-hidden="true"></span> -->&nbsp;Number of Ratings: {{resourceData.numRatings}}
				</h3>

				<h3 ng-if="resourceData.userRating">Your rating: {{resourceData.userRating}}</h3>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h2 class="panel-title">Tags</h2>
					</div>
					<div class="panel-body">
						<p>
						
							<span class="badge" ng-repeat-start="tag in resourceData.tags">{{tag.count}}</span><span
								class="label label-info" >{{tag.name}}</span><span ng-repeat-end>&nbsp; </span>
						
								
						</p>


					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h2 class="panel-title">Description</h2>
					</div>
					<div class="panel-body">{{resourceData.description}}</div>
				</div>

			</div>
			<!-- Reviews -->
			<div role="tabpanel" class="tab-pane" id="reviews">

				<br />

				<button type="button" class="btn btn-success btn-lg"
					data-toggle="modal" data-target="#addReviewModal">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Add Review and Rating
				</button>

				<!-- Add Review Modal -->
				<div class="modal fade" id="addReviewModal" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">Review and Rating</h4>
							</div>
							<div class="modal-body">

								<!-- The rating stars (1-5) -->

								<label for="rateStars">*Choose Rating:</label> <br />

								<div class="rate" id="rateStars">
									<input type="radio" id="star5" name="rate" value="5" /> <label
										for="star5" title="text">5 stars</label> <input type="radio"
										id="star4" name="rate" value="4" /> <label for="star4"
										title="text">4 stars</label> <input type="radio" id="star3"
										name="rate" value="3" /> <label for="star3" title="text">3
										stars</label> <input type="radio" id="star2" name="rate" value="2" />
									<label for="star2" title="text">2 stars</label> <input
										type="radio" id="star1" name="rate" value="1" /> <label
										for="star1" title="text">1 star</label>
								</div>

								<br /> <br /> <br /> <label for="tagSelect">Choose
									existing tag or enter new tag:</label>


								<button type="button" id="tagSelect"
									class="btn btn-default dropdown-toggle" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
									Tag <span class="caret"></span>
								</button>

								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">New
										Tag</span> <input type="text" class="form-control"
										placeholder="enter a new tag"
										aria-describedby="basic-addon1" />

								</div>

								<br /> <br />
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">Review</span>
									<textarea class="form-control"
										placeholder="enter a review comment"
										aria-describedby="basic-addon1"></textarea>
									<!-- <input type="text" class="form-control"
										placeholder="enter a review comment"
										aria-describedby="basic-addon1"> -->
								</div>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
				</div>

				<br /> <br />

				<!-- The review comments -->
				<div class="panel panel-primary" ng-repeat="review in resourceData.reviews">
					<div class="panel-heading">
						<h2 class="panel-title">
							{{review.username}}&nbsp;<span class="label label-info">{{review.date}}</span>
						</h2>
					</div>
					<div class="panel-body">
						<span class="glyphicon glyphicon-star" aria-hidden="true" ng-if="review.rating>=1"></span><span
							class="glyphicon glyphicon-star" aria-hidden="true"  ng-if="review.rating>=2"></span><span
							class="glyphicon glyphicon-star" aria-hidden="true"  ng-if="review.rating>=3"></span><span
							class="glyphicon glyphicon-star" aria-hidden="true"  ng-if="review.rating>=4"></span><span
							class="glyphicon glyphicon-star" aria-hidden="true"  ng-if="review.rating==5"></span> <br />
						{{review.comment}} <br />
						<button type="button">
							<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
							{{review.likes}}
						</button>
					</div>
				</div>

			</div>

			<!-- The questions -->
			<div role="tabpanel" class="tab-pane" id="questions">

				<br />

				<div class="panel panel-primary" ng-repeat="question in resourceData.questions">
					<div class="panel-heading">
						<h2 class="panel-title">
							{{question.username}}&nbsp;<span class="label label-info">{{question.date}}</span>
						</h2>
					</div>
					<div class="panel-body">

						{{question.comment}} <br />
						<button type="button">
							<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
							{{question.likes}}
						</button>
						&nbsp; <a href="#" data-toggle="modal"
							data-target="#viewRepliesModal" ng-if="question.replies.length!=0">View {{question.replies.length}} replies</a>
							<a href="#" data-toggle="modal"
							data-target="#viewRepliesModal" ng-if="question.replies.length==0">reply</a>
					</div>
				</div>

				

				<!-- View Replies Modal -->
				<div class="modal fade" id="viewRepliesModal" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">How long does it
									take to understand this resource?</h4>
							</div>

							<div class="modal-body">

								<!-- The replies -->

								<div class="panel panel-primary">
									<div class="panel-heading">
										<h2 class="panel-title">
											User3&nbsp;<span class="label label-info">6/20/20</span>&nbsp;<span class="label label-success">Accepted answer&nbsp;<span class="glyphicon glyphicon-ok"
												aria-hidden="true"></span></span>
										</h2>
									</div>
									<div class="panel-body">

										It takes 10 days 
									
										<br />
										<button type="button" >
											<span class="glyphicon glyphicon-thumbs-up"
												aria-hidden="true"></span> 3
										</button>

									</div>
								</div>


								<div class="panel panel-primary">
									<div class="panel-heading">
										<h2 class="panel-title">
											User3&nbsp;<span class="label label-info">6/19/20</span>
										</h2>
									</div>
									<div class="panel-body">

										It takes 2 days <br />
										<button type="button">
											<span class="glyphicon glyphicon-thumbs-up"
												aria-hidden="true"></span> 1
										</button>

									</div>
								</div>

								<div class="panel panel-primary">
									<div class="panel-heading">
										<h2 class="panel-title">
											User6&nbsp;<span class="label label-info">6/18/20</span>
										</h2>
									</div>
									<div class="panel-body">

										It takes 5 days <br />
										<button type="button">
											<span class="glyphicon glyphicon-thumbs-up"
												aria-hidden="true"></span> 1
										</button>

									</div>
								</div>


								<br /> <br />
								<!-- text area for inputting a reply -->
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">Reply</span>
									<textarea class="form-control" placeholder="enter a reply"
										aria-describedby="basic-addon1"></textarea>

								</div>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>



	</div>
	<!-- /container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery/jquery-3.5.1.slim.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/angular/angular.min.js"></script>
  	<script src="js/resourceDetails.js"></script>
</body>
</html>