<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>CS Resource Finder Home</title>

<!-- Bootstrap -->
<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="SearchResultsController">
<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">CS Resource Finder</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/home.html">Home <span
							class="glyphicon glyphicon-home" aria-hidden="true"></span><span
							class="sr-only">(current)</span></a></li>
					
				</ul>
				<form class="navbar-form navbar-left">
					
					Search options:
					<label for="tagSelect">Tag:</label>
					
					<select  id="tagSelect" ng-model="selectedTag" ng-change="checkSearchMode()">
					    <option ng-repeat="tag in tags" value="{{tag}}">{{tag}}</option>
  					</select>
  						
  						<label for="searchPri">Search Mode:</label>
					
					<!-- Disable the search mode if no tag selected -->
					<select  id="searchPri" ng-model="selectedSearchPriority" ng-disabled="selectedTag==null || selectedTag==''">
					    <option ng-repeat="pri in searchPriorityOptions" value="{{pri.value}}">{{pri.name}}</option>
					   
  						</select>
					<div class="form-group">
						<input type="text" class="form-control"
							placeholder="Search keyword" ng-model="searchKeyword" maxlength="60">
					</div>
					<button type="button" class="btn btn-default"
						aria-label="Left Align" ng-click="search()">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>

				</form>
				<form class="navbar-form navbar-right">
					<button type="submit" class="btn btn-danger" ng-click="logout()">Logout</button>

				</form>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>


	<div class="container">

		<!-- Main component for a primary marketing message or call to action -->
		<h2>Search Results</h2>
		<div class="row" ng-repeat="resultRow in results">

			<div class="col-md-3" ng-repeat="result in resultRow">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a ng-click="getResourceData(result.resource)">{{result.resource}}</a>
						</h3>
					</div>
					<div class="panel-body">
						Rating: {{result.rating}}/5<br /> 
						Number of ratings: {{result.numberOfRatings}}<br /> 
						
						<div ng-if="result.tag!=null">Tag: <span class="badge">{{result.tagCount}}</span><span
								class="label label-info" >{{result.tag}}</span><br /></div>
						Description: {{result.description}}<br />
						
						<a ng-click="getResourceData(result.resource)">View</a>

					</div>
				</div>
			</div>

		</div>
		

	</div>
	<!-- /container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery/jquery-3.5.1.slim.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/angular/angular.min.js"></script>
	<script src="js/searchResults.js"></script>
	
</body>
</html>